
.sectionContentItem{
    margin: auto;
    padding: 0 25%;
}

/*TESTING CONTENT*/

/* Basic Styling */

  .containerItm {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1%;
    display: flex;
  }

  /* Columns */
.left-column {
    width: 50%;
    position: relative;
    justify-content: center;
    align-items: center;
  }
   
  .right-column {
    width: 50%;
    margin-top: 60px;
  }

  /* Left Column */
.left-column img {
    width: 100%;
    max-width: fit-content;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
  }

  /* Product Description */
.product-description {
    border-bottom: 1px solid #bb3e00;
    margin-bottom: 20px;
  }
  .product-description span {
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .product-description h1 {
    font-weight: 300;
    font-size: 52px;
    letter-spacing: -2px;
  }
  .product-description p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
  }




/* Dropdown Button */
.dropbtnItm {
  background-color: #bb3e00;
  color: #e2e0d5;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdownItm {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-contentItm {
  display: none;
  position: absolute;
  background-color: #e2e0d5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-contentItm a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-contentItm a:hover {background-color: #bb3e00;}

/* Show the dropdown menu on hover */
.dropdownItm:hover .dropdown-contentItm {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdownItm:hover .dropbtnItm {background-color: #bb3e00;}

.item-choice{
  display:inline-flex;
  justify-content: space-evenly;
}