.pageMenu{
    margin-top: 50px;
    width: 98%;
    height: 800px;
    background-color:#fff1d7;
    border: 1px solid gray;
}

#menuCategory{
    border-radius: 5px;
    list-style-type: none;
    margin: auto;
    margin-top: 50px;
    overflow: hidden;
    height: fit-content;
    width: 90%;
    max-width: 90%;
    background-color: #5f8d37;
    border: 1px solid #d3d3d3;
    transition: height 0.2s, margin-left 0.2s, margin-bottom 0.5s, border 0.5s;
}   

li.items{
    float: left;
    margin-top: 0px;
    transition: margin-top 0.5s;
}

li.items a{
    color: #e2e0d5;
    display: block;
    text-align: center;
    padding: 13px 13px;
    text-decoration: none;
    font-size: 23pt;
    transition: color 0.2s;    
}   

li.items a:hover{
    color: #f7ad45  
}

.foodButton {
    background-color: #fffdfc00;
    width: 150px;
    height: 60px;
    border: none;
    cursor: pointer;
    float: left;
    transition: background-color 0.2s;
}

.foodImg{
    margin-left: -60px;
    width: 42px;
    height: 42px;
}

.foodText {
    font-size: 26pt;
    position: absolute;
}

.foodText .foodButton:hover{
    color: #f7ad45 
}


/*Menu Items*/
.menu__section-items {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
    -moz-column-gap: 8px;
    column-gap: 8px;
    row-gap: 8px;
}
.menu__section-item {
    overflow: hidden;
    position: relative;
}
.menu__item-detail {
    position: absolute;
    bottom: 0;
    padding: 30px;
    z-index: 1;
    width: 100%;
    transform: translateY(calc(100% - 120px));
    transition: .2s;
}
.menu__item-title {
    font-family: Rockwell,sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.75rem;
    max-width: 300px;
    position: relative;
}
.menu__item-description {
    color: #fff;
    line-height: 1.375rem;
    padding: 10px 0 30px;
    opacity: 0;
    transition: .2s;
    max-width: 325px;
}
.menu__item-image-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}


