body{

}

#ulnav{
    border-radius: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 10;
    overflow: hidden;
    height: 60px;
    width: 100%;
    margin-left: 10px;
    margin-bottom: 0px;
    background-color: rgb(235, 235, 235);
    border: 1px solid #d3d3d3;
    transition: height 0.2s, margin-left 0.2s, margin-bottom 0.5s, border 0.5s;
    position: relative;
}   

li.linav{
    float: left;
    margin-top: 0px;
    transition: margin-top 0.5s;
    
}

li.linav a{
    display: block;
    color: rgb(87, 87, 87);
    text-align: center;
    padding: 13px 13px;
    text-decoration: none;
    font-size: 23pt;
}   

li.linav a.active{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 150px;
    transition: color 0.2s;    
}  
li.linav a:hover{
    color: rgb(246, 151, 151);    

  }

#navlogo{
    float:left;
    width: 250px;
    height: 61px; 
    border-radius: 10px;
    transition: height 0.5s, width 0.5s;
    position: relative;
    background-image: url('../images/amorayLogoTextConcept.png');
    background-size: 80%;
    background-repeat: no-repeat;
}



/*Start of Mobile Support*/
.navbutton{
    width: 60px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-left: 3px;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    border: 2px rgb(163, 163, 163) solid;
    background-image: url('../images/navburger.png');
    background-size: 50px;
    background-position-x: 4px;
    background-position-y: 4px;
    background-repeat: no-repeat; 
    float: left;
    transition: margin-top 0.5s;
}

#closeNav{
    display: none;
}

.navbutton:hover{
    background-color: rgb(246, 151, 151);
  }


@media only screen and (min-width: 6in) {

.navbutton{
    margin-top: -100px;
}

}


@media only screen and (max-width: 768px) {

    /*Close mobile menu if window is resized*/

    /*More Code*/
    .navbutton{
        margin-top: 4px;
    }
    
    #navlogo{
        position: absolute;
        margin-left: 30%;
        width: 200px;
        background-image: url('../images/amorayLogoTextConcept.png');
    }
    
    li.linav{
        width: 100%;
        margin-top: 10px;
    }

    li.linav a{
        width: 92%;
        margin: auto;
        color: rgb(87, 87, 87);
        text-align: center;
        padding: 1px 1px;
        text-decoration: none;
        font-size: 23pt;
    }   


        li.linav a:hover{
            background-color: rgb(246, 151, 151);
            font-size: 30pt;
            padding: 9px 13px;
            width: 92%;
            border-radius: 7px;
            }
  }
