body{

}

#accountImg{
    width: 60px;
    height: 60px;
    max-height: 80px;
    background-image: url('../images/account.png');
    background-size: 100%;
    background-repeat: no-repeat;
    float: right;
    border-radius: 30px;
    margin-right: 3px;
}


#navbox{
    width: 95%;
    margin-top: 1%;
}

#ulnav{
    border-radius: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 60px;
    width: 100%;
    margin-bottom: 0px;
    background-color: #bb3e00;
    border: 1px solid #d3d3d3;
    transition: height 0.2s, margin-left 0.2s, margin-bottom 0.5s, border 0.5s;
    position: relative;
}   

li.linav{
    float: left;
    margin-top: 0px;
    transition: margin-top 0.5s;
}

li.linav a{
    background-color: #bb3e00;
    color: #e2e0d5;
    display: block;
    text-align: center;
    padding: 13px 13px;
    text-decoration: none;
    font-size: 23pt;
    transition: color 0.2s;    
}   

li.linav a.active{
    color: #5f8d37;
}  

li.linav a:hover{
    color: #f7ad45  
}

#navlogo{
    background-color: #bb3e00;
    float:left;
    width: 78px;
    height: 61px; 
    border-radius: 10px;
    transition: height 0.5s, width 0.5s;
    position: relative;
    background-image: url('../images/amorayLogoConcept.png');
    background-size: 80%;
    background-repeat: no-repeat;
}



/*Start of Mobile Support*/
.navbutton{
    width: 60px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-left: 3px;
    background-color: #bb3e00;
    border-radius: 10px;
    border: 2px rgb(163, 163, 163) solid;
    background-image: url('../images/navburger.png');
    background-size: 50px;
    background-position-x: 4px;
    background-position-y: 4px;
    background-repeat: no-repeat; 
    float: left;
    transition: margin-top 0.5s;
}

#closeNav{
    display: none;
}

.navbutton:hover{
    background-color: #5f8d37;
  }


@media only screen and (min-width: 6in) {

.navbutton{
    margin-top: -100px;
}

}


@media only screen and (max-width: 768px) {

    #accountImg{
        background-image: url('../images/account.png');
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: -338px;
        float: right;
    }

    /*Close mobile menu if window is resized*/

    /*More Code*/
    .navbutton{
        margin-top: 4px;
    }
    
    #navlogo{
        position: absolute;
        margin-left: 30%;
        width: 250px;
        background-image: url('../images/amorayLogoTextConcept.png');
    }
    
    li.linav{
        width: 100%;
        margin-top: 10px;
    }

    li.linav a{
        width: 100%;
        margin: auto;
        margin-left: -20px;
        text-align: center;
        text-decoration: none;
        font-size: 23pt;
    }     
  }