#pageSettings{
    width: 90%;
    max-width: 2000px;
    height: 88%;
    margin-top: 100px;
    position: absolute; 
    left: 0; 
    right: 0; 
    justify-content: center;
    border: 2px solid #bb3e00;
    border-radius: 10px;
}

.menuButtons{
    background-color: #f7ad45;
    margin-top: 10px;
    margin-left: 10px;
    width: 17%;
    max-width: 100%;
    border-radius: 10px;
    height: 98%;
    float: left;
}

.navButton{
    background-color: #f7ad45;
    width: 100%;
    height: 60px;
    padding: 10px;
    border: none;
    cursor: pointer;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navButton:hover{
    background-color: #5f8d37;
}

.navButtonImg{
    margin-top: -5px;
    margin-left: -80%;
    width: 50px;
    height: 50px;
}

.navButtonText{
    color: #e2e0d5;
    font-size: 26pt;
    position: absolute;
    padding-left: 15px;
}

#menuContent{
    background-color: #e2e0d5;
    margin-top: 10px;
    margin-right: 10px;
    width: 80%;
    max-width: 100%;
    border-radius: 10px;
    height: 98%;
    overflow-x: hidden;
    overflow-y: scroll;
    float: right;
    animation-duration: 0.5s;
}

@keyframes switchPage {
    0% {
      transform: scale(1.03);
    }
    100% {
      transform: scale(1.0);
    }
}

.buttonLogout{
    bottom: 0;
}

#settingHome{
    display: none;
}

#settingAccount{
    display: none;
}

#settingStyle{
    display: none;
}

#settingLogin{
    display: block;
}

#settingLogout{
    display: none;
}

#settingNewUser{
    display: none;
}

@media only screen and (max-width: 1250px) {
    .navButtonText{
        font-size: 20pt;
        margin-top: 5px;
    }
}

/*It's Mobilin' Time*/

@media only screen and (max-width: 1000px) {

#pageSettings{
    width: 98%;
}

.menuButtons{
    margin-left: 3%;
    width: 14%;
    left: 0; 
    right: 0; 
}

.navButton{
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.menuContent{
    width: 78%;
}

.navButtonImg{
    margin-left: -10%;
}

.navButtonText{
    display: none;
}

}

.orderTitle{
    font-size: 22pt;
    color: #bb3e00;
}



