/* Color Palette - site
#bb3e00 - red
#f7ad45 - orange
#fff1d7 - yellow off white
#5f8d37 - pale green
#2b0d02 - brown
#887b4e - olive
#e2e0d5 - green off whites

////////////////////////////////////
SPECIFIC LOCATIONS:
Font Family: Georgia, 'Times New Roman', Times, serif
Font size: medium
Background: #fff1d7
Header/title Backgrounds: #bb3e00
Active: #887b4e
Hover (links, options, etc): #5f8d37
Color: default: #e2e0d5
    Headings/titles: #2b0d02
    General text: #887b4e
    Option checked: #887b4e

Define the rest as needed
////////////////////////////////////
*/

/*General*/
*{
    margin: auto;
    color: #e2e0d5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

body{
    background-color: #fff1d7;
}

h1, p {
    text-align: center;
    color: #2b0d02;
}

/*Product ads*/

.slideAd{
    height: 100%;
    width: 100%;
    max-height: 500px;
    max-width:fit-content;
}

.title{
    font-size: 32pt;
    color: #bb3e00;
}


/*Woah Fancy*/

.page{
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 620px;
    border: 3px solid #d3d3d3;
    min-height: 700px;
    height: auto;
    width: 97%;
    background-color:#fff1d7;
}

#pageimage{
    height: 700px;
    margin-top: -20px;
    background-image: url('../images/indexHeader.png');
    
  }

  .parallax{
    height: 600px;
      /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
