
/*Sets proper spacing and borders*/

#columnContainer, #infoContainer{
    background-color: rgba(95, 141, 55, 0.05);
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    border: 2px solid #bb3e00;
    border-radius: 10px;
    max-width: 1200px;
}

#infoContainer{
    display: block;
}

#columnLeft, #columnRight{
    margin-top: 10px;
    width: 500px;
    border-radius: 10px;
    height: auto;
    float: left;
}

/*Variations for Desktop*/

.typeTiny{
    width: 100px;
}

.typeSmall{
    width: 150px;
}

.typeLarge{
    width: 338px;
}

.typeLarge{
    width: 338px;
}

.typeMegaMarge{
    width: 90%;
    height: 100px;
    resize: none;
}

/*It's Mobilin' Time*/

@media only screen and (max-width: 900px) {

.subtitle{
    font-size: 22px;
}

#columnContainer{
    background-color: rgba(95, 141, 55, 0);
    width: 100%;
    display: inline-block;
    border: 0px;
}

#columnLeft, #columnRight{
    background-color: rgba(95, 141, 55, 0.1);
    border: 2px solid #bb3e00;
    width: 90%;
    height: auto;
    margin-left: 5%; 
    margin-bottom: 20px;
}

#form{
    text-align: center;
}

.formText{
    width: 90%;
    margin-right: 10%;
}

/*Variations for Mobile*/

.typeTiny{
    width: 20%;
}

.typeSmall{
    width: 30%;
}

.typeLarge{
    width: 50%;
}

.typeMegaMarge{
    width: 90%;
    margin-left: 3%;
    height: 100px;
}

}