
#menuItemBox{
    background-color: rgba(95, 141, 55, 0.05);
    width: 98%;
    margin: 0 auto;
    margin-top: 30px;
    border: 2px solid #bb3e00;
    border-radius: 10px;
    min-height: 650px;
    max-width: 2000px;
    transition: margin-top 0.2s;
}

.container {
    position: relative;
    width: 75%;
    max-width: 300px;
    padding: 2%;
    transition: transform 0.3s ease-in-out;
  }


.pageMenu{
    margin-top: 50px;
    width: 98%;
    height: 800px;
    background-color:#fff1d7;
    border: 1px solid gray;
}

#foodbox{
    width: 80%;
    margin-top: 100px;
    transition: width 0.2s, margin-top 0.2s;
}

#menuCategory{
    border-radius: 5px;
    list-style-type: none;
    margin: auto;
    margin-top: 50px;
    overflow: hidden;
    height: fit-content;
    width: 90%;
    max-width: 90%;
    background-color: #5f8d37;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    transition: height 0.2s, margin-left 0.2s, margin-bottom 0.5s, border 0.5s;
}   

li.items{
    float: left;
    margin-top: 0px;
    transition: margin-top 0.5s;
}

li.items a{
    color: #e2e0d5;
    display: block;
    text-align: center;
    padding: 13px 13px;
    text-decoration: none;
    font-size: 23pt;
}   

li.items a:hover{
    color: #f7ad45;
}

.foodButton {
    background-color: #fffdfc00;
    width: 170px;
    height: 60px;
    border: none;
    cursor: pointer;
    float: left;
    transition: background-color 0.2s;
    padding: 1%;
    margin-left: -25px;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.foodImg{
    width: 42px;
    height: 42px;
    margin-left: -100px;
}

.foodText {
    position: fixed;
    font-size: 26pt;
    margin-left: 5px;
    position: absolute;
    border-radius: 10px;
}

.foodButton:hover .foodText{
    color: #f7ad45 
}


/*Menu Items*/

  .productImg{
    position: relative;
  }

  .productImgText{
    position: absolute;
  }
  
  .menuItemImg {
    border: 2px solid #bb3e00;
    border-radius: 20px;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .menuItemImg {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
    animation: clickMeFloat 2s infinite;
  }

  .container:hover {
    transform: scale(1.1);
  }
  
  .add {
    color: white;
    background-color: #5f8d37;
    border: 3px solid #bb3e00;
    border-radius: 20px;
    padding: 16px 32px;
    cursor: pointer;
  }


#itemPizza, #itemWings, #itemSides, #itemDrinks, #itemMore{
  width: 100%;
  margin-top: 30px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 2000px;
  transition: margin-top 0.2s;
}

#itemWings, #itemSides, #itemDrinks, #itemMore{
  display: none;
}

#food1{
  background-color: #bb3e00;
}

@keyframes gotoFood {
  0% {
  }
  100%{
    transform: translate(0px,2000px);
  }
}